<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Distancias</title>
</head>
<body>
    <h1>Calculadora de Distancias</h1>
    <form action="/calcular_distancias" method="post">
        <label for="userId">Ingrese el userId:</label>
        <input type="text" name="userId" required>
        <button type="submit">Calcular Distancias</button>
    </form>
</body>
</html>
